

.for-box-fan{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.for-box-fan-text{
    width: 672px;
    line-height: 25px;
    font-family: "Helvetica";
    margin: 0;
    font-size: 24px;
    font-weight: 400px;
}
.over-box{
    width: 100%;
    height: 720px;
    background-color: #F1F1F1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.qora-opa{
    display: flex;
   
   
    align-items: center;
    justify-content: space-between;
    
}
.opa-img{
    width: 450px;
}
.opa-img{
    width: 450px;
}
.opa-img3{
    width: 450px;
}


.thin-box-imgs{
    display: flex;
}
.than{
    margin-bottom: 100px;
}


.thin-for{
    width: 672px;
    height: 670px;
    font-family:  "Helvetica";
}

.thin-for-text-box{
    width: 250px;
    display: flex;
  align-items: center;
    height: 32px;
}
.thin-for-text-box p{
    margin-left: 10px
    
}
.thin-min-box{
   margin-top: 20px;
}
.gold-silver{
    display: flex;
}
.thin-box{
    display: flex;
    
    justify-content: space-between;
}
.thin-btn{
    width: 672px;
height: 56p;
padding: 16px 32px 16px 32px;
gap: 16px;
border-radius: 4px 0px 0px 0px;
opacity: 0px;
background-color: black;color: #F1F1F1;
}
.thin-gold{
    width: 672px;
    height: 22px;
    font-family: "Helvetica";
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}